---
layout: page
title: News and Updates
weight: 1
---

{% for post in site.posts limit:1 %}
<article>
<header class="post-header">
<h2>{{ post.title }}</h2>
<p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %-d, %Y" }}</time>{% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}</p>
</header>
{{ post.content }}
{% endfor %}
</article>

<aside class="news-archive">
  <h2>News Archive</h2>
  <ul>
    {% for post in site.posts offset:1 %}
      <li>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</aside>
