<nav class="site-nav">
  <ul class="navtext">
    <ul>
        {% assign pages = site.html_pages | sort:"weight"  %}
        {% for p in pages %}
          <li>
            {% assign baseurl = site.baseurl %}
            {% if page.url == p.url %}
            <a href="{{ p.url | prepend: site.baseurl }}" class="active">{{ p.title }}</a>
            {% else %}
            <a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
            {% endif %}
          </li>
         {% endfor %}
       </ul>
  </ul>
  {% include footer.html %}
</nav>
