/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6, 
blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
    border-width: 0;
}

/**
 * Links
 */
a {
    &:link {
        text-decoration: none;
        color: $brand-color;
    }
    &:hover {
        text-decoration: underline;
    }
    &:visited {
        color: $brand-color;
    }
}


.page-content {

    ul, ol {
        padding-left: 1.5em;
        li {
            padding-bottom: .5em;
            padding-top: .5em;
        }
    }

    .tocgrid {
        margin-top: 1em;
        a.morelink {
            display: block;
            text-align: right;
            font-size: .9em;
            margin-bottom: 1em;
        }
        h2 {
            color: $brand-color;
            font-family: $secondary-font-family;
            font-size: 1.1em;
            letter-spacing: -1px;
        }
        
        .tocgrid-right, .tocgrid-left {
            float: left;
             width: 40%;
       }
        .tocgrid-right {
            margin-left: 40px;
        }

    }
    
    .page-heading {
        font-size: 20px;
    }

    .post-list {
        margin-left: 0;
        list-style: none;

        > li {
            margin-bottom: $spacing-unit;
        }
    }

    .post-meta {
        font-size: $small-font-size;
        color: $grey-color;
    }

    .post-link {
        display: block;
        font-size: 24px;
    }

    .list-upper-roman {
        list-style: upper-roman
    }

    .page-fineprint {
        font-size: .75em;
        margin-top: 3em;
    }

    .contact-info {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 2em;
        font-weight: bold;
        li {
            ul {
                list-style-type: none;
                font-size: $small-font-size;
                font-weight: normal;
                padding-left: 0;
                li {
                    padding-bottom: 0;
                    padding-top: 0;
                    ul {
                        list-style-type: none;
                        font-size: $smaller-font-size;
                        padding-left: 0;
                    }
                }
            }
        }
    }
}

.site-nav {
    a {
        color: $nav-text-color;
    }

    ul {
        padding: 0;
        list-style-type: none;
        li {
            a {
                text-decoration: none;
                display: block;
                padding: $spacing-unit;
                font-weight: bold;
                &:hover {
                    background-color: white;
                    color: black;
                }
                &.active {
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}

/**
 * Site header
 */
.site-header {
    .site-title {
        font-family: $logo-font-family;
        color: $brand-color;
        font-size: 32px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: -.75px;
        text-decoration: none;
        position: relative;
        &:after { /* pseudo-underline */
            content: '';
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 1px;
            border-width: 0 0 2px;
            border-style: solid;
        }
    }
    .site-slogan {
        font-family: $logo-font-family;
        // color: $grey-color;
        font-size: 17px;
        letter-spacing: .2px;
        line-height: 17px;
        margin-bottom: 0;
        margin-top: 5px;
    }

}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit $spacing-unit;
    .footer-heading {
        font-size: 18px;
        margin-bottom: $spacing-unit / 2;
    }

    .contact-list,
    .social-media-list {
        list-style: none;
        margin-left: 0;
        font-family: $secondary-font-family;
        // margin-bottom: 0 !important;
        font-size: $smaller-font-size;
        line-height: 1.3em;
    }
    .contact-submissions {
        font-style: italic;
    }

}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    color: $brand-color;
    font-family: $secondary-font-family;
    font-size: 26px;
    letter-spacing: -1px;
    // text-align: center;
    margin-bottom: 1em;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h3 {
        font-size: 18px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    .news-archive {
        margin-top: 2em;
        ul {

        }
    }
}


