/**
 * Site header
 */
.site-header {
    padding-top: 60px;
    margin-right: $spacing-unit;
    // width: 800px;
    height: 150px;

    .site-title-wrapper {
        border-width: 1px 1px 1px 0;
        border-style: solid;
        border-color: black;
        padding: $spacing-unit $spacing-unit $spacing-unit 240px;
        background-color: #fff;
        // text-align: center;
        position: relative;
        z-index:10000; /*a number that's more than the modal box*/
        &:after {
            content:url('../assets/seal.png');
            position:absolute; /*or absolute*/
            z-index:100000; /*a number that's more than the modal box*/
            left: 25px;
            top: -58px;
        }
    }

}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    clear: both;
    top: -60px;
    max-width: 800px;
    position: relative;
    margin-left: 240px;
    margin-right: $spacing-unit;
}

/**
 * Site nav sidebar
 */
.site-nav {
    float: left;
    position: absolute;
    padding: 200px 0 $spacing-unit 0;
    top: 0;
    left: 0;
    width: 210px;
    margin-left: $spacing-unit;
    background-color: $brand-color;
    color: $nav-text-color;
    font-family: $secondary-font-family;
    font-size: $small-font-size;

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}
